.blogs {
	padding: 32px;
	margin-bottom: 32px;
	color: brown;
	text-align: center;
}


.blogs h3 {
	font-size: 32px;
	padding: 8px;
}

.blogs > p {
	font-size: 20px;
	padding: 8px;
	opacity: 0.8;
	padding-bottom: 16px;
}

.blogs-list {
	width: 90%;
	margin: auto;
	display: flex;
	justify-content: space-around;
}

.bg-list {
	width: 30%;
	border: 2px solid grey;
	box-shadow: 10px 10px 10px #aaaaaa;
	border-radius: 30px;
	text-align: center;
}

.bg-list > h4 {
	padding: 4px;
	font-size: 28px;
	color: green
}

.bg-list p {
	font-size: 20px;
	color: grey;
	padding-bottom: 16px;
}

.blog-description {
	text-align: justify;
	padding: 0px 8px 8px 8px;
}
.btn  {
	font-size: 20px;
	color: blue;
	font-weight: 600;
}

.btn a {
	text-decoration: none;
}

.btn a:hover {
	color: green;
}

.btn-blogs {
	display: flex;
	justify-content: center;
	margin-top: 16px;
	margin-bottom: 16px;
}

.btn-blogs > a{
	text-decoration: none;
	padding: 16px 16px;
	background-color: rgba(0,255,0,1);
	color: white;
	font-size: 20px;
	border-radius: 25px;
}