* {
	margin: 0;
	padding: 0;
}

.slideshow-container {
	width: 100%;
	margin: auto;
	position: relative;
}

img {
	width: 100%;
}

.prev ,.next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	padding: 8px;
	border-radius: 0 3px 3px 0;
	color: blue;
	font-weight: 600;
	font-size: 20px;
}

.next {
	right: 0;
	margin-right: 8px;
}

.prev:hover , .next:hover {
	background-color: black;
}

.text {
	font-size: 22px;
	padding: 8px 16px;
	position: absolute;
	bottom: 8px;
	width: 100%;
	text-align: center;
	color: black;
}
.dot {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: grey;
	margin: 4px 4px;
	display: inline-block;
}

.dot:hover {
  background-color: brown;
}

.active {
	background-color: red;
}
