html,body {
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
}

.packages {
	width: 80%;
	margin: auto;
	padding: 48px 64px 32px 48px;
	text-align: center;
}

.packages h3 {
	padding: 8px;
	font-size: 32px;
	font-family: Arial;
}

.packages > p {
	padding: 8px;
	font-size: 20px;
	opacity: 0.8;
}

.packages a {
	text-decoration: none;
	padding: 16px;
	background-color: #0f0;
	color: white;
	font-size: 20px;
	border-radius : 25px;
}

.package-list {
	display: flex;
	justify-content: space-between;
	padding: 32px 0 64px 0;
}

.list img{
	width: 250px;
	height: 200px;
}

.list > p{
	width: 250px;
}

.dt-list img:hover {
	zoom: 105%;
}

.bg-list:hover {
	margin-top: -10px;
	box-shadow: 4px 4px grey;
	border-radius: 25px;
	zoom: 108%;
}