.myslides img {
	width: 100%;
	height: 500px;
}

.prev ,.next {
	cursor: pointer;
	position: absolute;
	top: 60%;
	padding: 8px;
	border-radius: 0 3px 3px 0;
	color: blue;
	font-weight: 600;
	font-size: 20px;
}

.next {
	right: 0;
	margin-right: 8px;
}

.prev:hover , .next:hover {
	background-color: black;
}

.text {
	position: absolute;
	top: 50%;
	text-align: center;
	left: 30%;
	background-color: rgba(0,0,0,0);
	color: rgba(255,255,255,0.8);
}

.text h3{
	font-size: 40px;
}

.text p{
	font-size: 32px;
	padding-bottom: 32px;
}

.text .button {
	padding: 16px 32px;
	color: white;
	background-color: #0f0;
	border-radius : 20px;
}

.text a {
	text-decoration: none;
}