html,body {
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
}

.top {
	padding: 12px;
	background-color: #328432;
	display: flex;
	justify-content: space-between;
}

.icon {
	display: flex;
	padding-right: 64px;
}

.top h4 {
	padding: 0 64px;
	color: white;
}

.icon a {
	padding-right: 16px;
	text-decoration: none;
}

.icon a:hover {
	color: white;
}
