* {
	margin: 0;
	padding: 0;
}

html,body {
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
}
/* css code for top section*/
.top {
	padding: 16px;
	background-color: #328432;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.icon {
	display: flex;
	padding-right: 64px;
}

.top h4 {
	padding: 0 64px;
	color: white;
	font-size: 18px;
	font-weight: normal;
}

.icon img {
	width: 20px;
}

/* css code for top section done*/

/*Code for navbar section*/
.nav-section {
	padding: 8px 64px;
	display: flex;
	justify-content: space-between;
	position: sticky;
	top: 0;
	z-index: 1;
	background-color: white;
}

.nav {
	display: flex;
}

a {
	text-decoration: none;
	color: black;
	padding: 16px;
	font-size: 20px;
	font-weight: 600;
}

.nav a:hover {
	color: #0f0;
}

.hidden-icon {
	display: none;
}


/*Code for navbar section*/

/*code for image slider part*/
.myslides img {
	width: 100%;
	height: 500px;
}

.prev ,.next {
	cursor: pointer;
	position: absolute;
	top: 60%;
	padding: 8px;
	border-radius: 0 3px 3px 0;
	color: blue;
	font-weight: 600;
	font-size: 20px;
}

.next {
	right: 0;
	margin-right: 8px;
}

.prev:hover , .next:hover {
	background-color: black;
}

.text {
	position: absolute;
	top: 50%;
	text-align: center;
	left: 30%;
	background-color: rgba(0,0,0,0);
	color: rgba(255,255,255,0.8);
}

.text h3{
	font-size: 40px;
}

.text p{
	font-size: 32px;
	padding-bottom: 32px;
}

.text .button {
	padding: 16px 32px;
	color: white;
	background-color: #3f3;
	border-radius : 20px;
}

.text a {
	text-decoration: none;
}

/*code for image slider part done*/

/*code for package part*/
.packages {
	width: 80%;
	margin: auto;
	padding: 48px 64px 32px 48px;
	text-align: center;
}

.packages h3 {
	padding: 8px;
	font-size: 32px;
	font-family: Arial;
}

.packages > p {
	padding: 8px;
	font-size: 20px;
	opacity: 0.8;
}

.packages a {
	text-decoration: none;
	padding: 16px;
	background-color: #0f0;
	color: white;
	font-size: 20px;
	border-radius : 25px;
}

.package-list {
	display: flex;
	justify-content: space-between;
	padding: 32px 0 64px 0;
}

.list img{
	width: 250px;
	height: 200px;
}

.list > p{
	width: 250px;
}
/*transition to be added required*/
/*code for package part done*/

/*code for destination part*/
.destinations {
	padding: 64px 32px; 
	text-align: center;
}

.destinations a {
	text-decoration: none;
	padding: 16px 32px;
	background-color: #0f0;
	color: white;
	font-size: 20px;
	border-radius : 40px;

}

.destinations h3 {
	font-size: 32px;
	padding: 8px;
}

.destinations > p {
	font-size: 20px;
	padding: 8px;
}

.destinations-list {
	display: flex;
	justify-content: space-around;
	padding-bottom: 64px;
}

.dt-list {
	width: 150px;
	text-align: center;
}

.dt-list img {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	padding: 8px;
	border: 2px solid green;
}

.dt-list > p {
	font-size: 20px;
}

/*code for destination part done*/

/* code for blogs part*/
.blogs {
	padding: 32px;
	margin-bottom: 32px;
	color: brown;
	text-align: center;
}

.blogs h3 {
	font-size: 32px;
	padding: 8px;
}

.blogs > p {
	font-size: 20px;
	padding: 8px;
	opacity: 0.8;
	padding-bottom: 16px;
}

.blogs-list {
	display: flex;
	justify-content: space-around;
}

.bg-list {
	margin-right: 16px;
	border: 2px solid grey;
	box-shadow: 10px 10px 10px #aaaaaa;
	border-radius: 30px;
	text-align: center;
}

.bg-list > h4 {
	padding: 4px;
	font-size: 28px;
	color: green
}

.bg-list p {
	font-size: 20px;
	color: grey;
	padding-bottom: 16px;
}

.blog-description {
	text-align: justify;
	padding: 0px 8px 8px 8px;
}


.btn a {
	text-decoration: none;
	color: blue;
	font-size: 20px;
	font-weight: 600;
}

.btn a:hover {
	color: green;
}

.btn-blogs {
	display: flex;
	justify-content: center;
	margin-top: 16px;
	margin-bottom: 16px;
}

.btn-blogs > a{
	text-decoration: none;
	padding: 16px 16px;
	background-color: rgba(0,255,0,1);
	color: white;
	font-size: 20px;
	border-radius: 25px;
}

.bg-list:hover {
	box-shadow: 4px 4px 4px grey;
	border-radius: 25px;
}
/*code for blogs part done*/

/* If the screen size is 600px wide or less, hide the element */
@media  screen and (max-width: 600px) {
	/*nav part*/
	.nav,.top{
		display: none;
	}
	.nav-section img {
		padding-right: 20%;
	}
	.nav-section {
		justify-content: flex-start;
	}
	.hidden-icon {
		display: block;
	}

	.packages {
		padding: 32px;
	}

	.packages h3 {
		padding: 8px;
		font-size: 26px;
		font-family: Arial;
	}

	.packages p {
		padding: 8px;
		font-size: 16px;
		font-family: Arial;
	}

	.package-list {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 32px 0 64px 0;
	}

	.list {
		padding: 16px ;
		text-align: center;
	}

	.list img{
		width: 250px;
		height: 200px;
	}

	.list p {
		text-align: center;
		font-weight: bold;
	}

	.packages a {
		text-decoration: none;
		padding: 8px;
		background-color: #0f0;
		color: white;
		font-weight: normal;
		font-size: 16px;
		border-radius : 20px;
	}

	.destinations {
		padding: 32px; 
		text-align: center;
	}

	.destinations a {
		text-decoration: none;
		padding: 16px;
		background-color: #0f0;
		color: white;
		font-size: 16px;
		border-radius : 20px;

	}

	.destinations h3 {
		font-size: 26px;
		padding: 8px;
	}

	.destinations > p {
		font-size: 16px;
		padding: 8px;
	}

	.destinations-list {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-bottom: 64px;
	}

	.dt-list {
		padding: 16px;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.dt-list img {
		width: 200px;
		height: 200px;
		border-radius: 50%;
		padding: 8px;
		border: 2px solid green;
	}

	.dt-list > p {
		font-size: 16px;
		padding-top: 8px;
		font-weight: bold;
	}

	
	.blogs {
		padding: 16px;
		margin-bottom: 32px;
		color: brown;
	}

	.blogs h3 {
		font-size: 26px;
		padding: 8px;
	}

	.blogs > p {
		font-size: 16px;
		padding: 8px;
		opacity: 0.8;
		padding-bottom: 16px;
	}

	.blogs-list {
		display: flex;
		flex-direction: column;
		width: 80%;
		margin: auto;
	}

	.bg-list {
		margin-bottom: 16px;
		border: 2px solid grey;
		box-shadow: 4px 4px 4px #aaaaaa;
		border-radius: 25px;
		justify-content: center;
	}

	.bg-list > h4 {
		padding: 4px;
		font-size: 28px;
		color: green
	}

	.bg-list p {
		font-size: 20px;
		color: grey;
		padding-bottom: 16px;
	}

	.blog-description {
		text-align: justify;
		padding: 0px 8px;
	}

	.btn {
		padding: 8px;
	}
	.btn a {
		text-decoration: none;
		color: blue;
		font-size: 16px;
		font-weight: 600;
	}

	.btn-blogs {
		display: flex;
		justify-content: center;
		margin-top: 16px;
		margin-bottom: 16px;
	}

	.btn-blogs > a{
		text-decoration: none;
		padding: 12px;
		background-color: rgba(0,255,0,1);
		color: white;
		font-size: 16px;
		border-radius: 15px;
	}	

}