* {
	margin: 0;
	padding: 0;
}

html,body {
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
}
/* css code for top section*/

p {
	font-size: 18px;
}

h3 {
	font-size: 28px;
	padding: 8px;
}

.top {
	padding: 16px;
	background-color: #328432;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.icon {
	display: flex;
	padding-right: 64px;
}

.icon > a {
	padding: 8px;
}

.top > h4 {
	padding: 0 64px;
	color: white;
	font-size: 18px;
	font-weight: normal;
}

.icon img {
	width: 20px;
}

/* css code for top section done*/

/*Code for navbar section*/
.nav-section {
	padding: 8px 64px;
	display: flex;
	justify-content: space-between;
	position: sticky;
	top: 0;
	z-index: 1;
	background-color: white;
}

.nav-section a {
	background-color: white;
	color: black;
}

.nav {
	display: flex;
}

.nav a {
	text-decoration: none;
	color: black;
	background-color: white;
	padding: 16px;
	font-size: 20px;
	font-weight: 600;
}

.nav a:hover {
	color:#0f0;
}

.hidden-icon {
	display: none;
}


/*Code for navbar section*/

/*code for image slider part*/
.myslides img {
	width: 100%;
	height: 500px;
}

.prev ,.next {
	cursor: pointer;
	position: absolute;
	top: 60%;
	padding: 8px;
	border-radius: 0 3px 3px 0;
	color: #00f;
	background-color: white;
	font-weight: 600;
	font-size: 20px;
}

.next {
	right: 0;
}

.prev:hover , .next:hover {
	background-color: black;
}

.text {
	position: absolute;
	top: 50%;
	text-align: center;
	left: 30%;
	color: rgba(255,255,255,0.9);
}

.text h3{
	font-size: 40px;
}

.text p{
	font-size: 32px;
	padding-bottom: 32px;
}

.text .button {
	text-decoration: none;
	padding: 16px 32px;
	font-size: 16px;
	font-weight: lighter;
	color: white;
	background-color: #328432;
	border-radius : 25px;
}

.text a:hover {
	background-color: #0f0;
}

/*code for image slider part done*/

/*form part*/
.booking {
	padding: 0 64px;
	padding-top: 16px;
	margin-top: -50px;
	margin-bottom: -10px;
}

.booking > a {
	text-decoration: none;
	padding: 8px;
	font-size: 20px;
	color: white;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}

.active {
	background-color: #0f0;
}

.entire-form {
	background-color: #6dc234;
	padding: 0 64px;
}

.entire-form p {
	padding-top: 16px;
	margin-top: 16px;
	padding-bottom: 24px;
	color: white;
	font-size: 22px;
}

form {
	display: flex;
	justify-content: space-around;
	padding-bottom: 48px;
	margin-left: -16px; 
}

form label{
	color: white;
	font-size: 20px;
	font-weight: lighter;
}

form input {
	padding: 8px;
	height: 24px;
}

.button {
	margin-top: 20px;
	width: 120px;
	height: 50px;
	padding: 16px;
	border-radius: 10px;
}

select {
	width: 190px;
	height: 44px;
	padding: 0 8px;
}

.veichle-form {
	display: none;
}

.flight-form {
	display: none;
}

/*form part */

/*code for package part*/
.packages {
	width: 80%;
	margin: auto;
	padding: 32px 64px 32px 48px;
	text-align: center;
}

.packages > p {
	opacity: 0.9;
}

.packages > a {
	text-decoration: none;
	color: white;
	background-color: #328432;
	padding: 16px;
	font-size: 20px;
	font-weight: 600;
	border-radius: 25px;
}

.packages a:hover {
	background-color: #0f0;
}

.package-list {
	display: flex;
	padding: 0px 0 48px 0;
}

.list {
	padding: 16px 16px;
}

.list img{
	width: 250px;
	height: 200px;
}

.list > p{
	width: 250px;
	font-weight: bold;
}

/*transition to be added required*/
/*code for package part done*/

/*code for destination part*/
.destinations {
	padding: 64px 32px; 
	text-align: center;
}

.destinations > p {
	padding: 8px;
}

.destinations > a {
	text-decoration: none;
	color: white;
	background-color: #328432;
	padding: 16px;
	font-size: 20px;
	font-weight: 600;
	border-radius: 25px;
}

.destinations > a:hover {
	background-color: #0f0;
}

.destinations-list {
	display: flex;
	padding: 0 64px;
	justify-content: center;
	padding-bottom: 64px;
}

.dt-list {
	width: 150px;
	text-align: center;
	padding: 4px 16px 0 16px;
}

.dt-list img {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	padding: 8px;
	border: 2px solid #328432;
}

/*code for destination part done*/

/* code for blogs part*/
.blogs {
	color: #328432;
	text-align: center;
	padding: 32px;
}

.blogs > p {
	padding: 8px;
	opacity: 0.8;
	padding-bottom: 16px;

}

.blogs-list {
	display: flex;
	justify-content: space-around;
}

.bg-list {
	margin-right: 24px;
	border: 2px solid grey;
	box-shadow: 10px 10px 10px #aaaaaa;
	border-radius: 30px;
	text-align: center;
}

.btn > a {
	color: #328432;
	text-decoration: none;
	background-color: white;
	font-size: 20px;
	font-weight: 600;
	border-radius: 0px;
	padding-bottom:  0px;
}

.btn {
	margin-bottom: 8px;
}

.btn a:hover {
	color: #0f0;
}

.bg-list > h4 {
	padding-top: 8px;
	color: #328432;
	font-size: 22px;
}

.bg-list > p {
	color: grey;
	padding-top: 8px;
}

.blog-description {
	text-align: justify;
	padding: 16px;
}

.btn-blogs {
	text-align: center;
	padding-bottom: 32px;
}

.btn-blogs > a{
	text-decoration: none;
	color: white;
	background-color: #328432;
	padding: 16px;
	font-size: 20px;
	font-weight: 600;
	border-radius: 25px;
}

.btn-blogs a:hover {
	background-color: #0f0;
}

.bg-list:hover {
	box-shadow: 4px 4px 4px grey;
	border-radius: 25px;
}
/*code for blogs part done*/

/* If the screen size is 600px wide or less, hide the element */
/* @media  screen and (max-width: 599px) {
	

	* {
		margin: 0;
		padding: 0;
	}

	.nav,.top{
		display: none;
	}

	.nav-section {
		display: none;
	}
	.nav-section > img {
		width: 80px;
		height: 40px;
		padding: 4px 0px 4px 8px;
	}

	.hidden-icon {
		display: none;
	}

	.slideshow-container {
		display: none;
	}

	.packages h3 {
		padding: 8px;
		font-size: 26px;
		font-family: Arial;
	}

	.packages p {
		padding: 8px;
		font-size: 16px;
		font-family: Arial;
	}

	.package-list {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 32px 0 64px 0;
	}

	.list {
		padding: 16px ;
		text-align: center;
	}

	.list img{
		width: 250px;
		height: 200px;
	}

	.list p {
		text-align: center;
		font-weight: bold;
	}

	.packages a {
		padding: 8px;
		font-size: 16px;
		border-radius : 20px;
	}

	.destinations {
		padding: 32px; 
	}

	.destinations a {
		padding: 16px;
		font-size: 16px;
		border-radius : 20px;

	}

	.destinations h3 {
		font-size: 26px;
		padding: 8px;
	}

	.destinations > p {
		font-size: 16px;
		padding: 8px;
	}

	.destinations-list {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-bottom: 64px;
	}

	.dt-list {
		padding: 16px;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.dt-list img {
		width: 200px;
		height: 200px;
		border-radius: 50%;
		padding: 8px;
		border: 2px solid #328432;
	}

	.dt-list > p {
		font-size: 16px;
		padding-top: 8px;
		font-weight: bold;
	}

	.blogs {
		display: none;
	}

	.blogs {
		padding: 16px;
		margin-bottom: 32px;
		color: #328432;
	}

	.blogs h3 {
		font-size: 24px;
		padding: 8px;
	}

	.blogs > p {
		font-size: 16px;
		padding: 8px;
		opacity: 0.8;
		padding-bottom: 16px;
	}

	.blogs-list {
		display: flex;
		flex-direction: column;
	}

	.bg-list {
		border: 2px solid grey;
		margin-bottom: 20px;
	}

	.btn > a {
		background-color: white;
		color: black;
	}

	.bg-list > h4 {
		font-size: 24px;
		color: #328432;
	}

	.bg-list p {
		color: grey;
		padding-bottom: 16px;
	}

	.blog-description {
		text-align: justify;
		padding: 0px 8px;
	}

	.btn-blogs {
		display: flex;
		justify-content: center;
		margin-top: 16px;
		margin-bottom: 16px;
	}

} */

